# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: appengine.gcp.upbound.io/v1beta2
kind: Application
metadata:
  annotations:
    meta.upbound.io/example-id: appengine/v1beta2/application
    upjet.upbound.io/manual-intervention: Only one Application per project and applications
      cannot be deleted once they're created; you have to delete the entire project
      to delete the application
  labels:
    testing.upbound.io/example-name: application
  name: application
spec:
  forProvider:
    locationId: us-west1
    projectSelector:
      matchLabels:
        testing.upbound.io/example-name: application
