apiVersion: monitoring.gcp.upbound.io/v1beta2
kind: UptimeCheckConfig
metadata:
  annotations:
    meta.upbound.io/example-id: monitoring/v1beta2/uptimecheckconfig
  labels:
    testing.upbound.io/example-name: http
  name: http
spec:
  forProvider:
    checkerType: STATIC_IP_CHECKERS
    contentMatchers:
    - content: '"example"'
      jsonPathMatcher:
      - jsonMatcher: EXACT_MATCH
        jsonPath: $.path
      matcher: MATCHES_JSON_PATH
    displayName: http-uptime-check
    httpCheck:
    - body: Zm9vJTI1M0RiYXI=
      contentType: USER_PROVIDED
      customContentType: application/json
      path: some-path
      pingConfig:
      - pingsCount: 1
      port: "8010"
      requestMethod: POST
    monitoredResource:
    - labels:
        host: 192.168.1.1
        project_id: my-project-name
      type: uptime_url
    timeout: 60s
    userLabels:
      example-key: example-value
