apiVersion: eventarc.gcp.upbound.io/v1beta1
kind: GoogleChannelConfig
metadata:
  annotations:
    meta.upbound.io/example-id: eventarc/v1beta1/googlechannelconfig
  labels:
    testing.upbound.io/example-name: primary
  name: primary
spec:
  forProvider:
    cryptoKeyName: ${data.google_kms_crypto_key.key1.id}
    location: us-west1
    project: ${data.google_project.test_project.project_id}

---

